<div class="alert alert-warning" role="alert">
    <h5 class="alert-heading"><strong>新冠肺炎健康關懷問卷 COVID-19 Survey</strong></h5>
    <p>您好，為因應「新冠肺炎」疫情，請協助我們填寫下列資料，並詳細閱讀注意事項。
    基於COVID-19防疫及事後追蹤需求，必須取得您的個人資料，個資當事人不得拒絕提供資料，並應確認資料正確性，如未提供個人資料，不得進入。
    </p>
</div>
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <i class="far fa-hand-point-right"></i> 防疫實名制個人資料保護告知事項
            </button>
            </h2>
        </div>
        
        <div id="collapseOne" class="collapse mb-2" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body mb-2">
                <p>您好，為因應「新冠肺炎」疫情，進入前請協助填寫個人資料，為保障您的權益，特此向您告知以下事項：</p>	
                <ul style="list-style-type:none;">
                    <li class="lics">一、蒐集機關：<!--{$theoffice|default:'防疫實名制網站'}-->。</li>
                    <li class="lics">二、蒐集之目的：防疫目的，依據「個人資料保護法之特定目的及個人資料之類別」為代號012公共衛生或傳染病防治之特定目的，且不得為目的外利用。</li>
                    <li class="lics">三、蒐集之個人資料項目：姓名、手機號碼、電子郵件。</li>
                    <li class="lics">四、個人資料利用之期間：自蒐集日起28日內。</li>
                    <li class="lics">五、個人資料利用之對象及方式：為防堵疫情而有必要時，得提供衛生主管機關依傳染病防治法等規定進行疫情調查及聯繫使用。</li>
                    <li class="lics">六、您得依個人資料保護法第3條規定，就您的個人資料向蒐集單位行使權利，包括：查詢或請求閱覽、請求製給複製本、請求補充或更正、請求停止蒐集、處理或利用、請求刪除。行使方式為填妥「當事人權利行使申請書」，並檢附相關證明文件親自持送或郵寄至「<!--{$theoffice|default:'防疫實名制網站'}-->(<!--{$theemail|default:'ab6655@gm.kl.edu.tw'}-->)」。如本人無法親自提出申請，得委由代理人為之。委由代理人申請時，應另出具「委託書」及雙方之證明文件。</li>
                    <li class="lics">七、若不同意提供個人資料，將無法進入。</li>
                </ul>
            </div>
        </div>
    </div>
</div>