<!--{include file='header.html'}-->
<div class="row">
<div class="col-md-6 col-sm-12">
<!--{include file='covid-message.html'}-->
</div>
<div class="col-md-6 col-sm-12">
<div class="card mx-auto">
    <div class="card-header">        
    </div>
    <div class="card-body">
        <h5 class="card-title">實名制活動列表</h5>
        <p class="card-text">防疫實名制採「<span class="text-primary">事先登記</span>」方式，請選擇以下欲參加之活動，完成個人資料登記後，系統會自動產生該活動之QRCode及序號頁面，入場時請出示掃瞄後入場。</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer">

    </div>
</div>
</div>
</div>
<!--{include file='footer.html'}-->